#tech_logos{
    height: 50px;
}
#profile_pic{
    height: 380px;
}
body{
    font-family: "Raleway", sans-serif;
    background: linear-gradient(#d6d5d5, white);
}

.navbar {
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3; }
    .navbar .navbar-brand h3 {
      font-weight: 600; }
    .navbar .nav-item {
      font-size: 1.3rem; }

#showcase {
    background: url("../images/portfoliocodingbackground.jpg") center/cover no-repeat;
    min-height: 750px;
    position: relative; }
    #showcase #header {
      z-index: 2; }
    #showcase #overlay {
      background: rgba(0, 0, 0, 0.8);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1; }
      #showcase h1 {
        font-weight: 450;}

#hr_stylings{
    border-color: #dd3444;
    width: 70px; 
}

#portfolio{
  background-color: #333b3f;
}

#contact{
  background-color:#131618;
}

